{% extends "Maintemplate.html" %}

{% block title %}
    About
{% endblock %}

{% block content %}
A photo & video collaboration of outdoor adventures embarked on by a group in efforts to find a solution to the never ending battle against boredom.
<br>
<br>
We're a group of college students documenting the things we love to do. We find that climbing, hiking, and the outdoors in general are our way of discovering the world and all that it has to offer.
<br>
<br>
Adrenaline junkies - Occasional hippies - Lovers of the earth
{% endblock %}