{% extends "Outer_template.html" %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    Welcome to the Rock Tribe Productions homepage.  Feel free and explore us or check us out on Facebook or Youtube. <br>
    <a href = "https://www.facebook.com/pages/Rock-Tribe-Productions/318909998272562">Facebook</a>
    <br>
    <a href = "https://www.youtube.com/user/RockTribeProductions/videos">Youtube</a>
    <br>
    <img src = "https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-xpf1/t1.0-9/10517491_319267481570147_3333728131817166309_n.jpg" width = 300 height =420>
{% endblock %}

