{% extends "Outer_template.html" %}

{% block title %}
    Pictures
{% endblock %}

{% block head %}

    <style>
        ul.pictures{
            list-style-type: none;
        }
    </style>

{% endblock %}


{% block content %}
    <ul class = pictures>
    {% for picture in pictures %}
        <a>
        <li>
            {{ picture.title }}
            <br>
                <a href = {{ "picture"~picture.id }}>
                <img src= {{ picture.url }} alt=  {{ picture }} style ="width:50%;height:50%">
                </a>
                <br>
                    {{ picture.description }}
            <br>
            <br>
            <br>
        </li>
        </a>
    {% endfor %}
    </ul>

{% endblock %}